### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### C template
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### CMake template
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

cmake-build-debug
cmake-build-release

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

### make build folder ###
buildDir
buildDir/

### visual studio ###
.vs
.vs/


### sample zip file ###
chapter03/05_memory_map_file_copy_zip_file/sample_zip_file.zip
chapter03/05_memory_map_file_copy_zip_file/sample_zip_file_copy.zip
sample_zip_file.zip
sample_zip_file_copy.zip
*/sample_zip_file.zip
*/sample_zip_file_copy.zip
chapter03/06_memory_map_async_file_copy/sample_zip_file.zip
chapter03/06_memory_map_async_file_copy/sample_zip_file_copy.zip
